$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.login-form-class,
.register-form-class,
.change-pw-class,
.logout-form-class,
.pets-class {
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 1em;
  font-family: helvetica;
}

.logout-form-class {
  display: none;
}

.change-pw-class {
  display: none;
}

.pets-class {
  display: none;
}

.division {
  float: left;
  width: 25%;
}
